
.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.footerLogoDiv {
  width: 200px;
  height: 40px;
}



